body,
html,
.container {
    background-color: black;
    color: red;
}

input,
button {
    width: 240px;
}

.tabela {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}
.resto{
    background-color: rgb(92, 0, 0);
}

